# Ignore environment variable files
.env

# Ignore generated video content files
Video-Generate/video-content.json
*.json

# Ignore files inside Final-Video, Output, and Eddit-data except .gitkeep
Final-Video/*
!Final-Video/.gitkeep

Output/*
!Output/.gitkeep

Eddit-data/*
!Eddit-data/.gitkeep